<div class="span12"><%= link_to @trip.title, trip_path(@trip) %></div>
<h1>questions</h1>

<%= render :partial => 'questions_list', :locals => {:questions => @trip.questions}  %>

<br />

<%= link_to 'New Question', new_trip_question_path(@trip) %>
